{% extends '../templates/base.html' %}

{% block content %}
<div class="main__content">
    <h1 class="main__content_h1">MAKE IT HAPPEN</h1>
    <h2 class="main__content_h2">Weekly Spending Review</h2>
    <li class="main__button"><a href="../templates/calculate.html">Calculate</a></li>
    <p class="main__content_p1">"It's not your <b>salary</b> that makes you <b>rich</b>, it's your <b>spending habits</b>." - Charles A Jaffe</p>
</div>
<div class="main__img--container"><img src="../images/pic1.svg" alt="pic" id="main__img"></div>
{% endblock content %}